 <div id="footer">

        <div id="bottomCenter">
            <div class="bottomSpace">
                Comercializado por <br><br>
                <img src="static/assets/masterlogo@2x.png" height="40">
            </div>
            <div class="bottomSpace">
                Edificio Sky City | Piso 4 | Oficina 401 <br>
                Av. Andrés García Lavín. #261 x 57 y 59 <br>
                Col. San Ramón Norte C.P. 97117 <br>
                Mérida, Yucatán
                <br><br>
                (999) 357 5364
            </div>
            <div class="bottomSpace">
                Aviso de Privacidad
                <br><br>
                © 2021. Gran Kanan. Todos los Derechos Reservados.
            </div>
        </div>
    </div>
    
</body>
</html>